<div class="col-sm-12">
    <div class="col-md-12 filterContainer pad-left-right-0">
        <div class="col-md-2 pad-left-right-0">
          <span class="col-sm-12 pad-left-right-0">Milestone</span>
          <input type="text" name="" class="col-sm-12">
        </div>
        <div class="col-md-2">
          <span class="col-sm-12 pad-left-right-0">State</span>
          <input type="text" name="" class="col-sm-12">
        </div>
        <div class="col-md-2">
          <span class="col-sm-12 pad-left-right-0">Team</span>
          <input type="text" name="" class="col-sm-12">
        </div>
    </div>
    <div class="cold-md-12">
        <div id="grid1" ui-grid="gridOptions" class="grid col-sm-12"></div>
    </div>
</div>